In [1]:
import pandas as pd
import numpy as np

In [2]:
installments = pd.read_csv('../input/installments_payments.csv')

In [4]:
dtype_df = installments.dtypes.reset_index()
dtype_df.columns = ["Count", "Type"]
dtype_df[dtype_df['Type']=='int64']

                   Count   Type
0             SK_ID_PREV  int64
1             SK_ID_CURR  int64
3  NUM_INSTALMENT_NUMBER  int64

In [10]:
installments['NUM_INSTALMENT_VERSION'].value_counts()

1.0      8485004
0.0      4082498
2.0       620283
3.0       237063
4.0        55274
5.0        48404
6.0        17092
7.0        16771
9.0         8359
8.0         7814
10.0        4637
11.0        4342
13.0        2951
12.0        2863
15.0        1917
14.0        1906
16.0        1283
17.0        1249
18.0         883
19.0         816
20.0         615
21.0         589
22.0         426
23.0         373
24.0         291
25.0         268
26.0         211
27.0         177
29.0         163
28.0         145
          ...
35.0          46
39.0          42
36.0          36
37.0          33
38.0          29
40.0          19
43.0          19
41.0          18
42.0          18
44.0          13
61.0           8
45.0           8
72.0           7
46.0           5
47.0           4
48.0           3
49.0           3
50.0           3
52.0           3
51.0           2
53.0           1
54.0           1
55.0           1
56.0           1
57.0           1
58.0           1
59.0           1
178.0          1
68.0           1
73.0           1
Name: NUM_INSTALMENT_VERSION, Length: 65, dtype: int64

In [5]:
dtype_df = installments.dtypes.reset_index()
dtype_df.columns = ["Count", "Type"]
dtype_df[dtype_df['Type']=='float64']

                    Count     Type
2  NUM_INSTALMENT_VERSION  float64
4         DAYS_INSTALMENT  float64
5      DAYS_ENTRY_PAYMENT  float64
6          AMT_INSTALMENT  float64
7             AMT_PAYMENT  float64

In [6]:
dtype_df = installments.dtypes.reset_index()
dtype_df.columns = ["Count", "Type"]
dtype_df[dtype_df['Type']=='object']

Empty DataFrame
Columns: [Count, Type]
Index: []