In [18]:
import pandas as pd
import numpy as np

In [19]:
ls

AllData_CatBoost_v1.csv                 CatBoost_v1.py
AllData_LightGBM_v1.csv                 Data/
AllData_v2_CatBoost_v1.csv              Explore_Buro.ipynb
AllData_v2_LightGBM_v1.csv              Explore_Prev.ipynb
AllData_XGB_v1.csv                      Explore_v1.ipynb
ApplicationBuroAndPrev_CatBoost_v1.csv  Explore_v2.ipynb
ApplicationBuroAndPrev_LightGBM_v1.csv  Gather_Data.py
ApplicationBuroAndPrev_XGB_v1.csv       GatherTables.py
ApplicationBuroBalance_CatBoost_v1.csv  LICENSE
ApplicationBuroBalance_LightGBM_v1.csv  LightGBM_Sample_Whole.py
ApplicationBuroBalance_XGB_v1.csv       LightGBM_v1.py
ApplicationBuro_CatBoost_v1.csv         ModelRunnerExample.py
ApplicationBuro_LightGBM_v1.csv         ModelRunner.py
ApplicationBuro_XGB_v1.csv              __pycache__/
ApplicationOnly_CatBoost_v1.csv         README.md
ApplicationOnly_LightGBM_v1.csv         XGB_v1.py
ApplicationOnly_XGB_v1.csv

In [20]:
prev = pd.read_csv('../input/previous_application.csv')

In [21]:
prev.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

In [39]:
dtype_df = prev.dtypes.reset_index()
dtype_df.columns = ["Count", "Type"]
dtype_df[dtype_df['Type']=='int64']

                      Count   Type
0                SK_ID_PREV  int64
1                SK_ID_CURR  int64
9   HOUR_APPR_PROCESS_START  int64
11   NFLAG_LAST_APPL_IN_DAY  int64
17            DAYS_DECISION  int64
26         SELLERPLACE_AREA  int64

In [32]:
prev['SELLERPLACE_AREA'].value_counts()

-1       762675
 0        60523
 50       37401
 30       34423
 20       33840
 100      31409
 40       24429
 25       18142
 15       17175
 150      16652
 10       16523
 5        14942
 200      12819
 4        12797
 1000     12589
 60       10943
 35       10468
 1500      9887
 300       9308
 2000      8723
 45        8487
 80        8029
 70        7881
 6         7411
 500       6335
 32        5547
 3         5472
 1         5275
 1200      4864
 250       4696
          ...
 959          1
 5705         1
 2095         1
 1069         1
 1922         1
 653          1
 1322         1
 2347         1
 1284         1
 1897         1
 1290         1
 1292         1
 2733         1
 9312         1
 1299         1
 2931         1
 884          1
 677          1
 1697         1
 1119         1
 887          1
 2332         1
 2937         1
 1314         1
 1317         1
 1114         1
 2345         1
 1112         1
 4186         1
 1023         1
Name: SELLERPLACE_AREA, Length: 2097, dtype: int64

In [16]:
idColumns = ['SK_ID_CURR', 'SK_ID_PREV']
cat_feats = [f for f in prev.columns if prev[f].dtype == 'object']  
nonNum_feats = idColumns + cat_feats
for f_ in cat_feats:
    prev[f_], indexer = pd.factorize(prev[f_])
num_feats = [f for f in prev.columns if f not in nonNum_feats]

In [17]:
prev.dtypes

SK_ID_PREV                       int64
SK_ID_CURR                       int64
NAME_CONTRACT_TYPE               int64
AMT_ANNUITY                    float64
AMT_APPLICATION                float64
AMT_CREDIT                     float64
AMT_DOWN_PAYMENT               float64
AMT_GOODS_PRICE                float64
WEEKDAY_APPR_PROCESS_START       int64
HOUR_APPR_PROCESS_START          int64
FLAG_LAST_APPL_PER_CONTRACT      int64
NFLAG_LAST_APPL_IN_DAY           int64
RATE_DOWN_PAYMENT              float64
RATE_INTEREST_PRIMARY          float64
RATE_INTEREST_PRIVILEGED       float64
NAME_CASH_LOAN_PURPOSE           int64
NAME_CONTRACT_STATUS             int64
DAYS_DECISION                    int64
NAME_PAYMENT_TYPE                int64
CODE_REJECT_REASON               int64
NAME_TYPE_SUITE                  int64
NAME_CLIENT_TYPE                 int64
NAME_GOODS_CATEGORY              int64
NAME_PORTFOLIO                   int64
NAME_PRODUCT_TYPE                int64
CHANNEL_TYPE                     int64
SELLERPLACE_AREA                 int64
NAME_SELLER_INDUSTRY             int64
CNT_PAYMENT                    float64
NAME_YIELD_GROUP                 int64
PRODUCT_COMBINATION              int64
DAYS_FIRST_DRAWING             float64
DAYS_FIRST_DUE                 float64
DAYS_LAST_DUE_1ST_VERSION      float64
DAYS_LAST_DUE                  float64
DAYS_TERMINATION               float64
NFLAG_INSURED_ON_APPROVAL      float64
dtype: object