In [1]:
import pandas as pd
import numpy as np

In [2]:
buro = pd.read_csv('../input/bureau.csv')

In [5]:
dtype_df = buro.dtypes.reset_index()
dtype_df.columns = ["Count", "Type"]
dtype_df[dtype_df['Type']=='int64']

                 Count   Type
0           SK_ID_CURR  int64
1         SK_ID_BUREAU  int64
4          DAYS_CREDIT  int64
5   CREDIT_DAY_OVERDUE  int64
9   CNT_CREDIT_PROLONG  int64
15  DAYS_CREDIT_UPDATE  int64

In [9]:
buro['DAYS_CREDIT_UPDATE'].value_counts()

-7        18503
-8        18462
-11       16975
-15       16870
-12       16827
-10       16651
-9        16546
-13       16387
-6        16281
-14       16210
-18       15733
-16       15655
-17       15041
-19       14900
-5        13755
-22       13572
-23       13263
-20       13140
-21       13041
-24       12380
-25       12321
-26       11683
-4        11578
-28       11122
-29       11054
-27       10854
-30        9906
-3         9542
-31        9127
-32        9041
          ...
-41864        1
-41923        1
-41861        1
-2862         1
-41933        1
 15           1
-41873        1
-41940        1
-41881        1
-2851         1
-2844         1
-2845         1
 22           1
-41857        1
-41859        1
-2870         1
-41860        1
 372          1
-41869        1
-41926        1
 19           1
-41871        1
-41872        1
-41925        1
-2879         1
-2882         1
 16           1
-41886        1
-41905        1
-41853        1
Name: DAYS_CREDIT_UPDATE, Length: 2982, dtype: int64

In [5]:
total = 0
for column in buro.columns:
    if buro[column].dtypes=='O':
        display(buro[column].value_counts())
        total +=1
print(total)

Closed      1079273
Active       630607
Sold           6527
Bad debt         21
Name: CREDIT_ACTIVE, dtype: int64

currency 1    1715020
currency 2       1224
currency 3        174
currency 4         10
Name: CREDIT_CURRENCY, dtype: int64

Consumer credit                                 1251615
Credit card                                      402195
Car loan                                          27690
Mortgage                                          18391
Microloan                                         12413
Loan for business development                      1975
Another type of loan                               1017
Unknown type of loan                                555
Loan for working capital replenishment              469
Cash loan (non-earmarked)                            56
Real estate loan                                     27
Loan for the purchase of equipment                   19
Loan for purchase of shares (margin lending)          4
Mobile operator loan                                  1
Interbank credit                                      1
Name: CREDIT_TYPE, dtype: int64

3

In [5]:
buro['SK_ID_CURR'].value_counts()

120860    116
169704     94
318065     78
251643     61
425396     60
295809     59
129843     58
385133     57
177014     56
325354     55
252366     55
218175     55
280155     55
281455     54
430261     54
246770     54
260762     53
241096     52
280042     51
220625     51
341845     50
394986     50
164261     50
245562     49
403382     49
207189     49
329272     48
310637     48
162711     47
260854     47
         ...
368691      1
264496      1
184093      1
289084      1
183785      1
434259      1
174290      1
167393      1
149710      1
440210      1
400755      1
404853      1
133318      1
137412      1
364404      1
417679      1
417147      1
116926      1
118973      1
105859      1
124300      1
234946      1
380796      1
236995      1
245191      1
206292      1
216537      1
106359      1
100212      1
250544      1
Name: SK_ID_CURR, Length: 305811, dtype: int64

In [10]:
buro['CREDIT_DAY_OVERDUE'].value_counts()

0       1712211
30          311
60          126
13          103
8           103
9            93
7            92
14           91
17           77
11           75
15           74
10           71
12           70
20           68
21           64
18           63
6            59
22           54
19           54
5            51
16           50
28           50
4            46
29           46
26           43
24           42
23           41
25           40
31           38
32           36
         ...
1506          1
1505          1
2528          1
1529          1
514           1
1573          1
1556          1
1572          1
547           1
1570          1
2595          1
544           1
2591          1
2588          1
537           1
2585          1
2580          1
2581          1
515           1
531           1
1554          1
1552          1
2577          1
2574          1
525           1
1548          1
1546          1
519           1
2565          1
372           1
Name: CREDIT_DAY_OVERDUE, Length: 942, dtype: int64

In [11]:
buro['CNT_CREDIT_PROLONG'].value_counts()

0    1707314
1       7620
2       1222
3        191
4         54
5         21
9          2
6          2
8          1
7          1
Name: CNT_CREDIT_PROLONG, dtype: int64

In [16]:
buro[(buro['SK_ID_CURR']==329272) & (buro['CREDIT_ACTIVE']=='Active')].sort_values(by='DAYS_CREDIT', ascending=False)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
399495,329272,5085235,Active,currency 1,-10,0,6.0,NaN,NaN,0,45000.000,52200.000,0.000,0.0,Consumer credit,-1,NaN
399523,329272,5085270,Active,currency 1,-74,0,293.0,NaN,0.0,0,304879.995,257258.025,0.000,0.0,Consumer credit,-3,NaN
1713165,329272,5085254,Active,currency 1,-78,0,226.0,NaN,NaN,0,225000.000,184203.000,NaN,0.0,Consumer credit,-15,NaN
399496,329272,5085236,Active,currency 1,-131,0,145.0,NaN,NaN,0,122440.500,71910.000,0.000,0.0,Consumer credit,-7,NaN
399510,329272,5085255,Active,currency 1,-145,0,1086.0,NaN,NaN,0,225000.000,223623.000,NaN,0.0,Credit card,-9,NaN
399521,329272,5085268,Active,currency 1,-168,0,197.0,NaN,0.0,0,236133.000,147397.500,0.000,0.0,Consumer credit,-15,NaN
399498,329272,5085240,Active,currency 1,-191,0,174.0,NaN,NaN,0,382050.000,234778.500,0.000,0.0,Consumer credit,-34,NaN
399520,329272,5085267,Active,currency 1,-229,0,1595.0,NaN,0.0,0,817560.000,787900.275,0.000,0.0,Consumer credit,-17,NaN
399519,329272,5085266,Active,currency 1,-230,0,804.0,NaN,0.0,1,674608.320,543459.330,0.000,0.0,Consumer credit,-17,NaN
1713162,329272,5085239,Active,currency 1,-253,0,27490.0,NaN,NaN,0,168750.000,170383.500,0.000,0.0,Credit card,-6,NaN
1713163,329272,5085242,Active,currency 1,-253,0,27490.0,NaN,NaN,0,450000.000,453042.000,0.000,0.0,Credit card,-6,NaN
1713161,329272,5085237,Active,currency 1,-253,0,114.0,NaN,NaN,0,229320.000,82629.000,0.000,0.0,Consumer credit,-7,NaN
399501,329272,5085244,Active,currency 1,-406,0,1420.0,NaN,NaN,0,2422800.000,2103367.500,0.000,0.0,Consumer credit,-4,NaN
399518,329272,5085265,Active,currency 1,-429,0,NaN,NaN,0.0,0,0.000,39414.420,0.000,0.0,Credit card,-51,NaN
1713164,329272,5085250,Active,currency 1,-429,0,31141.0,NaN,NaN,0,45000.000,0.000,NaN,0.0,Credit card,-420,NaN
399500,329272,5085243,Active,currency 1,-499,0,962.0,NaN,NaN,0,1324350.000,1008580.500,0.000,0.0,Consumer credit,-4,NaN
399509,329272,5085253,Active,currency 1,-508,0,1318.0,NaN,NaN,0,1417500.000,1151163.000,NaN,0.0,Car loan,-19,NaN
399511,329272,5085256,Active,currency 1,-508,0,1086.0,NaN,NaN,0,45000.000,43978.500,NaN,0.0,Credit card,-9,NaN
399487,329272,5085226,Active,currency 1,-533,0,958.0,NaN,0.0,0,1198405.620,0.000,0.000,0.0,Consumer credit,-533,NaN
399486,329272,5085225,Active,currency 1,-561,0,931.0,NaN,0.0,0,1667520.000,0.000,0.000,0.0,Consumer credit,-561,NaN
399517,329272,5085264,Active,currency 1,-656,0,NaN,NaN,0.0,0,101250.000,90198.000,11050.425,0.0,Credit card,-20,NaN
399512,329272,5085257,Active,currency 1,-687,0,NaN,NaN,NaN,0,450000.000,445783.500,NaN,0.0,Credit card,-7,NaN
1713166,329272,5085258,Active,currency 1,-725,0,338.0,NaN,NaN,0,171000.000,169821.000,NaN,0.0,Credit card,-31,NaN
1713167,329272,5085263,Active,currency 1,-725,0,386.0,NaN,0.0,0,225000.000,109545.615,0.000,0.0,Consumer credit,-9,NaN
399507,329272,5085251,Active,currency 1,-844,0,642.0,NaN,NaN,0,450000.000,NaN,NaN,0.0,Credit card,-33,NaN
399516,329272,5085262,Active,currency 1,-851,0,244.0,NaN,0.0,0,315000.000,291854.160,23145.840,0.0,Car loan,-3,NaN
1713160,329272,5085230,Active,currency 1,-851,0,491.0,NaN,NaN,0,135000.000,0.000,0.000,0.0,Car loan,-507,NaN
399485,329272,5085224,Active,currency 1,-907,0,1160.0,NaN,0.0,0,0.000,-3032.055,3032.055,0.0,Credit card,-533,NaN
399499,329272,5085241,Active,currency 1,-1004,0,102.0,NaN,NaN,0,45000.000,236799.000,0.000,0.0,Credit card,-3,NaN
1713159,329272,5085223,Active,currency 1,-1024,0,-89.0,NaN,0.0,0,135000.000,394221.825,33278.175,0.0,Credit card,-606,NaN
399497,329272,5085238,Active,currency 1,-1050,0,27490.0,NaN,NaN,0,180000.000,163084.500,0.000,0.0,Credit card,-6,NaN
399494,329272,5085234,Active,currency 1,-1951,0,31141.0,NaN,NaN,0,101250.000,7924.500,0.000,0.0,Credit card,-657,NaN

In [18]:
buro[buro['SK_ID_CURR']==329272].sort_values(by='DAYS_CREDIT', ascending=False)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
399495,329272,5085235,Active,currency 1,-10,0,6.0,NaN,NaN,0,45000.000,52200.000,0.000,0.0,Consumer credit,-1,NaN
399523,329272,5085270,Active,currency 1,-74,0,293.0,NaN,0.0,0,304879.995,257258.025,0.000,0.0,Consumer credit,-3,NaN
1713165,329272,5085254,Active,currency 1,-78,0,226.0,NaN,NaN,0,225000.000,184203.000,NaN,0.0,Consumer credit,-15,NaN
399488,329272,5085227,Closed,currency 1,-83,0,-22.0,-23.0,NaN,0,22500.000,0.000,0.000,0.0,Consumer credit,-5,NaN
399522,329272,5085269,Closed,currency 1,-98,0,86.0,-37.0,0.0,0,67032.000,0.000,0.000,0.0,Consumer credit,-37,NaN
399508,329272,5085252,Closed,currency 1,-124,0,59.0,-23.0,NaN,0,1864809.000,0.000,NaN,0.0,Loan for the purchase of equipment,-23,NaN
399496,329272,5085236,Active,currency 1,-131,0,145.0,NaN,NaN,0,122440.500,71910.000,0.000,0.0,Consumer credit,-7,NaN
399510,329272,5085255,Active,currency 1,-145,0,1086.0,NaN,NaN,0,225000.000,223623.000,NaN,0.0,Credit card,-9,NaN
399521,329272,5085268,Active,currency 1,-168,0,197.0,NaN,0.0,0,236133.000,147397.500,0.000,0.0,Consumer credit,-15,NaN
399498,329272,5085240,Active,currency 1,-191,0,174.0,NaN,NaN,0,382050.000,234778.500,0.000,0.0,Consumer credit,-34,NaN
399520,329272,5085267,Active,currency 1,-229,0,1595.0,NaN,0.0,0,817560.000,787900.275,0.000,0.0,Consumer credit,-17,NaN
399519,329272,5085266,Active,currency 1,-230,0,804.0,NaN,0.0,1,674608.320,543459.330,0.000,0.0,Consumer credit,-17,NaN
1713161,329272,5085237,Active,currency 1,-253,0,114.0,NaN,NaN,0,229320.000,82629.000,0.000,0.0,Consumer credit,-7,NaN
1713163,329272,5085242,Active,currency 1,-253,0,27490.0,NaN,NaN,0,450000.000,453042.000,0.000,0.0,Credit card,-6,NaN
1713162,329272,5085239,Active,currency 1,-253,0,27490.0,NaN,NaN,0,168750.000,170383.500,0.000,0.0,Credit card,-6,NaN
399501,329272,5085244,Active,currency 1,-406,0,1420.0,NaN,NaN,0,2422800.000,2103367.500,0.000,0.0,Consumer credit,-4,NaN
399518,329272,5085265,Active,currency 1,-429,0,NaN,NaN,0.0,0,0.000,39414.420,0.000,0.0,Credit card,-51,NaN
1713164,329272,5085250,Active,currency 1,-429,0,31141.0,NaN,NaN,0,45000.000,0.000,NaN,0.0,Credit card,-420,NaN
399500,329272,5085243,Active,currency 1,-499,0,962.0,NaN,NaN,0,1324350.000,1008580.500,0.000,0.0,Consumer credit,-4,NaN
399511,329272,5085256,Active,currency 1,-508,0,1086.0,NaN,NaN,0,45000.000,43978.500,NaN,0.0,Credit card,-9,NaN
399509,329272,5085253,Active,currency 1,-508,0,1318.0,NaN,NaN,0,1417500.000,1151163.000,NaN,0.0,Car loan,-19,NaN
399487,329272,5085226,Active,currency 1,-533,0,958.0,NaN,0.0,0,1198405.620,0.000,0.000,0.0,Consumer credit,-533,NaN
399486,329272,5085225,Active,currency 1,-561,0,931.0,NaN,0.0,0,1667520.000,0.000,0.000,0.0,Consumer credit,-561,NaN
399489,329272,5085228,Closed,currency 1,-612,0,-315.0,-286.0,NaN,0,11250.000,0.000,0.000,0.0,Credit card,-197,NaN
399492,329272,5085232,Closed,currency 1,-614,0,-310.0,-523.0,NaN,0,148972.500,0.000,0.000,0.0,Consumer credit,-515,NaN
399517,329272,5085264,Active,currency 1,-656,0,NaN,NaN,0.0,0,101250.000,90198.000,11050.425,0.0,Credit card,-20,NaN
399512,329272,5085257,Active,currency 1,-687,0,NaN,NaN,NaN,0,450000.000,445783.500,NaN,0.0,Credit card,-7,NaN
399506,329272,5085249,Closed,currency 1,-688,0,-477.0,-452.0,NaN,0,235111.500,0.000,NaN,0.0,Consumer credit,-445,NaN
1713166,329272,5085258,Active,currency 1,-725,0,338.0,NaN,NaN,0,171000.000,169821.000,NaN,0.0,Credit card,-31,NaN
1713167,329272,5085263,Active,currency 1,-725,0,386.0,NaN,0.0,0,225000.000,109545.615,0.000,0.0,Consumer credit,-9,NaN
399507,329272,5085251,Active,currency 1,-844,0,642.0,NaN,NaN,0,450000.000,NaN,NaN,0.0,Credit card,-33,NaN
399516,329272,5085262,Active,currency 1,-851,0,244.0,NaN,0.0,0,315000.000,291854.160,23145.840,0.0,Car loan,-3,NaN
399491,329272,5085231,Closed,currency 1,-851,0,-689.0,-689.0,NaN,0,99724.500,0.000,0.000,0.0,Consumer credit,-591,NaN
1713160,329272,5085230,Active,currency 1,-851,0,491.0,NaN,NaN,0,135000.000,0.000,0.000,0.0,Car loan,-507,NaN
399504,329272,5085247,Closed,currency 1,-900,0,-687.0,-677.0,NaN,0,188091.000,NaN,NaN,0.0,Consumer credit,-674,NaN
399485,329272,5085224,Active,currency 1,-907,0,1160.0,NaN,0.0,0,0.000,-3032.055,3032.055,0.0,Credit card,-533,NaN
399490,329272,5085229,Closed,currency 1,-908,0,-858.0,-858.0,NaN,0,32616.000,0.000,0.000,0.0,Consumer credit,-331,NaN
399515,329272,5085261,Closed,currency 1,-909,0,-539.0,-718.0,0.0,0,315000.000,0.000,0.000,0.0,Consumer credit,-718,NaN
399499,329272,5085241,Active,currency 1,-1004,0,102.0,NaN,NaN,0,45000.000,236799.000,0.000,0.0,Credit card,-3,NaN
399493,329272,5085233,Closed,currency 1,-1008,0,-642.0,-840.0,NaN,0,180000.000,0.000,0.000,0.0,Consumer credit,-834,NaN
399503,329272,5085246,Closed,currency 1,-1023,0,-904.0,-845.0,NaN,0,130923.000,NaN,NaN,0.0,Consumer credit,-842,NaN
1713159,329272,5085223,Active,currency 1,-1024,0,-89.0,NaN,0.0,0,135000.000,394221.825,33278.175,0.0,Credit card,-606,NaN
399514,329272,5085260,Closed,currency 1,-1042,0,-647.0,-909.0,0.0,0,187200.000,0.000,0.000,0.0,Consumer credit,-909,NaN
399513,329272,5085259,Closed,currency 1,-1048,0,-893.0,-893.0,0.0,0,66690.000,NaN,NaN,0.0,Consumer credit,-887,NaN
399497,329272,5085238,Active,currency 1,-1050,0,27490.0,NaN,NaN,0,180000.000,163084.500,0.000,0.0,Credit card,-6,NaN
399502,329272,5085245,Closed,currency 1,-1688,0,-1313.0,-1312.0,NaN,0,105916.500,0.000,NaN,0.0,Consumer credit,-1312,NaN
399494,329272,5085234,Active,currency 1,-1951,0,31141.0,NaN,NaN,0,101250.000,7924.500,0.000,0.0,Credit card,-657,NaN
399505,329272,5085248,Closed,currency 1,-2047,0,-1682.0,-1682.0,NaN,0,40653.000,0.000,NaN,0.0,Consumer credit,-657,NaN

In [19]:
buro[(buro['CREDIT_ACTIVE']=='Active') & (buro['AMT_CREDIT_SUM']==0)]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.0,0,0.0,-411.615,411.615,0.0,Credit card,-694,NaN
166,373324,5714674,Active,currency 1,-837,0,-453.0,NaN,0.0,0,0.0,-45.360,45.360,0.0,Credit card,-685,NaN
216,451241,5714737,Active,currency 1,-1321,0,NaN,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-228,NaN
222,383257,5714746,Active,currency 1,-601,0,-241.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-513,NaN
268,390784,5714807,Active,currency 1,-1537,0,-57.0,NaN,NaN,0,0.0,0.000,NaN,0.0,Credit card,-608,NaN
324,271160,5714881,Active,currency 1,-1736,0,90.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-696,NaN
356,452711,5714928,Active,currency 1,-744,0,796.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-684,NaN
436,233056,5715038,Active,currency 1,-482,0,1220.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-481,NaN
473,388014,5715083,Active,currency 1,-1089,0,-392.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-694,NaN
516,224915,5715137,Active,currency 1,-244,0,NaN,NaN,0.0,0,0.0,73215.450,0.000,0.0,Credit card,-81,NaN
552,309299,5715179,Active,currency 1,-743,0,1039.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-683,NaN
609,172376,5715250,Active,currency 1,-594,0,-371.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-593,NaN
639,182005,5715288,Active,currency 1,-667,0,NaN,NaN,0.0,0,0.0,106640.910,0.000,0.0,Credit card,-59,NaN
658,249072,5715315,Active,currency 1,-898,0,876.0,NaN,0.0,0,0.0,-49.725,49.725,0.0,Credit card,-655,NaN
659,249072,5715317,Active,currency 1,-778,0,1060.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-656,NaN
671,203465,5715332,Active,currency 1,-1647,0,-493.0,NaN,0.0,0,0.0,-13.815,13.815,0.0,Credit card,-673,NaN
680,223895,5715342,Active,currency 1,-1409,0,-736.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-649,NaN
797,291600,5715482,Active,currency 1,-684,0,1119.0,NaN,NaN,0,0.0,818.280,NaN,0.0,Credit card,-42,NaN
888,298496,5715592,Active,currency 1,-1038,0,NaN,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-29,NaN
919,250967,5715624,Active,currency 1,-706,0,1073.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-5,NaN
1067,273869,5715791,Active,currency 1,-527,0,1300.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-40,59296.50
1090,427471,5715817,Active,currency 1,-321,0,31054.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-152,NaN
1103,221655,5715833,Active,currency 1,-1260,0,-556.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-7,0.00
1125,251451,5715855,Active,currency 1,-1077,0,754.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-7,19539.00
1145,287332,5715877,Active,currency 1,-396,0,1347.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-28,NaN
1151,377029,5715883,Active,currency 1,-809,0,NaN,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-18,NaN
1152,246557,5715884,Active,currency 1,-1193,0,-495.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-151,NaN
1158,439104,5715890,Active,currency 1,-1071,0,31054.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-32,NaN
1160,439104,5715892,Active,currency 1,-2682,0,-1940.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-988,NaN
1241,438643,5715986,Active,currency 1,-419,0,NaN,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-155,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1715507,108461,5056243,Active,currency 1,-509,0,NaN,NaN,0.0,0,0.0,33073.155,0.000,0.0,Credit card,-68,NaN
1715529,444320,5056433,Active,currency 1,-555,0,1270.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-555,NaN
1715536,180219,5056465,Active,currency 1,-612,0,1119.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-612,NaN
1715599,142278,5043234,Active,currency 1,-230,0,1376.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-13,NaN
1715601,370974,5043237,Active,currency 1,-179,0,31053.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-24,NaN
1715609,129450,5043302,Active,currency 1,-541,0,1315.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-21,NaN
1715610,129450,5043303,Active,currency 1,-894,0,797.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-9,NaN
1715615,164742,5043338,Active,currency 1,-996,0,828.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-20,NaN
1715620,178761,5045093,Active,currency 1,-313,0,1514.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-24,0.00
1715660,308015,5045469,Active,currency 1,-989,0,31059.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-13,0.00
1715667,142693,5046781,Active,currency 1,-924,0,1345.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-489,NaN
1715683,192695,5046910,Active,currency 1,-526,0,1284.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-526,NaN
1715756,219187,5049102,Active,currency 1,-823,0,31114.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-32,NaN
1715830,288340,5051482,Active,currency 1,-425,0,1347.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-425,NaN
1715850,260353,5053177,Active,currency 1,-339,0,1501.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-3,19965.87
1715851,260353,5053178,Active,currency 1,-339,0,1320.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-3,19965.87
1715872,425925,5054642,Active,currency 1,-1020,0,761.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-13,NaN
1715873,425925,5054643,Active,currency 1,-1020,0,761.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-13,NaN
1715874,425925,5054644,Active,currency 1,-1020,0,761.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-13,40122.00
1715952,433357,5057006,Active,currency 1,-471,0,1330.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-470,NaN
1715991,125218,5043558,Active,currency 1,-1379,0,447.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-680,NaN
1715999,109774,5043608,Active,currency 1,-533,0,1213.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-532,NaN
1716086,362846,5047382,Active,currency 1,-921,0,NaN,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-40,NaN
1716116,284235,5047637,Active,currency 1,-630,0,1211.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-623,0.00
1716183,414628,5049827,Active,currency 1,-75,0,1468.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-12,NaN
1716184,414628,5049829,Active,currency 1,-75,0,1772.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-12,NaN
1716195,142259,5049914,Active,currency 1,-1293,0,-723.0,NaN,NaN,0,0.0,0.000,0.000,0.0,Credit card,-11,NaN
1716205,172458,5051578,Active,currency 1,-629,0,1135.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-627,NaN
1716268,391091,5053479,Active,currency 1,-2361,0,-1247.0,NaN,NaN,0,0.0,171.000,0.000,0.0,Credit card,-1025,NaN
1716366,174236,5057232,Active,currency 1,-576,0,1148.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-575,NaN

In [20]:
buro[(buro['CREDIT_TYPE']=='Credit card')]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.000,NaN,0.0,Credit card,-20,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.0,71017.380,108982.620,0.0,Credit card,-31,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.0,0,4500.0,0.000,0.000,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.0,0,337500.0,0.000,0.000,0.0,Credit card,-690,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.0,0.000,0.000,0.0,Credit card,-185,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.0,8131.500,NaN,0.0,Credit card,-7,NaN
20,238881,5714489,Active,currency 1,-392,0,NaN,NaN,0.0,0,252000.0,23679.000,228320.100,0.0,Credit card,-22,NaN
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.0,0,0.0,-411.615,411.615,0.0,Credit card,-694,NaN
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.5,0.000,0.000,0.0,Credit card,-210,NaN
31,136226,5714502,Active,currency 1,-521,0,551.0,NaN,NaN,0,112500.0,0.000,0.000,0.0,Credit card,-30,NaN
32,136226,5714503,Closed,currency 1,-559,0,NaN,-355.0,0.0,0,110250.0,0.000,0.000,0.0,Credit card,-351,NaN
34,400486,5714506,Active,currency 1,-941,0,-17.0,NaN,NaN,0,40500.0,0.000,0.000,0.0,Credit card,-15,NaN
43,435112,5714518,Active,currency 1,-1483,0,NaN,NaN,NaN,0,200250.0,0.000,NaN,0.0,Credit card,-848,NaN
50,452585,5714525,Active,currency 1,-2538,0,-1427.0,NaN,0.0,0,45000.0,0.000,0.000,0.0,Credit card,-682,NaN
53,389599,5714529,Closed,currency 1,-672,0,10285.0,-531.0,NaN,0,135000.0,0.000,0.000,0.0,Credit card,-429,NaN
57,389599,5714533,Active,currency 1,-831,0,277.0,NaN,NaN,0,270000.0,274225.500,0.000,0.0,Credit card,-10,NaN
71,242993,5714550,Active,currency 1,-382,0,1464.0,NaN,NaN,0,58500.0,59809.500,NaN,0.0,Credit card,-341,NaN
75,303740,5714554,Active,currency 1,-581,0,NaN,NaN,0.0,0,384750.0,263056.500,121690.170,0.0,Credit card,-22,NaN
86,119939,5714567,Closed,currency 1,-2247,0,-1123.0,-1733.0,0.0,0,135000.0,0.000,0.000,0.0,Credit card,-1733,NaN
87,119939,5714568,Closed,currency 1,-1447,0,-331.0,-1272.0,0.0,0,99000.0,-2692.170,137692.170,0.0,Credit card,-1272,NaN
88,119939,5714569,Closed,currency 1,-1390,0,-331.0,-1263.0,0.0,0,135000.0,-149.040,135149.040,0.0,Credit card,-1263,NaN
89,119939,5714570,Active,currency 1,-1390,0,-696.0,NaN,0.0,0,4500.0,-2.565,2.565,0.0,Credit card,-691,NaN
90,119939,5714571,Active,currency 1,-733,0,1100.0,NaN,0.0,0,337500.0,242596.395,94903.605,0.0,Credit card,-687,NaN
94,119939,5714577,Active,currency 1,-1102,0,4.0,NaN,NaN,0,225000.0,210730.500,0.000,0.0,Credit card,-10,NaN
97,119939,5714580,Active,currency 1,-2401,0,NaN,NaN,0.0,0,99000.0,45036.000,53962.695,0.0,Credit card,-22,NaN
99,119939,5714582,Closed,currency 1,-1617,0,9341.0,-1083.0,6007.5,0,144000.0,NaN,NaN,0.0,Credit card,-1083,NaN
102,388421,5714587,Active,currency 1,-685,0,410.0,NaN,0.0,0,135000.0,0.000,135000.000,0.0,Credit card,-236,NaN
114,387080,5714603,Active,currency 1,-1239,0,-149.0,NaN,NaN,0,225000.0,185953.500,0.000,0.0,Credit card,-10,NaN
125,293201,5714621,Closed,currency 1,-2389,0,-1365.0,-1780.0,11250.0,0,225000.0,-701.280,225701.280,0.0,Credit card,-1780,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716318,368218,5055234,Active,currency 1,-249,0,1050.0,NaN,NaN,0,67500.0,64678.500,0.000,0.0,Credit card,-8,NaN
1716322,392435,5055257,Active,currency 1,-151,0,31092.0,NaN,NaN,0,40500.0,32827.500,NaN,0.0,Credit card,-46,NaN
1716324,104893,5055269,Active,currency 1,-51,0,NaN,NaN,0.0,0,103500.0,92882.250,10617.750,0.0,Credit card,-13,NaN
1716331,266700,5055317,Active,currency 1,-1863,0,685.0,NaN,NaN,0,180000.0,135441.000,0.000,0.0,Credit card,-33,NaN
1716332,318487,5055325,Active,currency 1,-662,0,624.0,NaN,NaN,0,67500.0,0.000,0.000,0.0,Credit card,-36,NaN
1716335,330720,5055349,Closed,currency 1,-995,0,-394.0,-167.0,NaN,0,261000.0,0.000,0.000,0.0,Credit card,-164,NaN
1716341,184857,5055391,Active,currency 1,-751,0,350.0,NaN,NaN,0,396000.0,0.000,0.000,0.0,Credit card,-260,NaN
1716351,169747,5055520,Active,currency 1,-307,0,NaN,NaN,0.0,0,112500.0,0.000,112500.000,0.0,Credit card,-24,NaN
1716359,366785,5055579,Active,currency 1,-221,0,31090.0,NaN,NaN,0,45000.0,22941.000,NaN,0.0,Credit card,-221,NaN
1716363,218015,5057205,Active,currency 1,-125,0,1057.0,NaN,NaN,0,180000.0,0.000,0.000,0.0,Credit card,-38,NaN
1716364,167522,5057214,Active,currency 1,-895,0,241.0,NaN,NaN,0,180000.0,178339.500,0.000,0.0,Credit card,-8,NaN
1716365,185445,5057224,Sold,currency 1,-2008,0,-912.0,NaN,NaN,0,246951.0,NaN,NaN,0.0,Credit card,-2000,NaN
1716366,174236,5057232,Active,currency 1,-576,0,1148.0,NaN,0.0,0,0.0,0.000,0.000,0.0,Credit card,-575,NaN
1716367,174236,5057234,Active,currency 1,-559,0,1269.0,NaN,0.0,0,225000.0,0.000,0.000,0.0,Credit card,-559,NaN
1716373,207024,5057311,Active,currency 1,-497,0,1330.0,NaN,0.0,0,135000.0,0.000,0.000,0.0,Credit card,-497,NaN
1716375,245087,5057327,Closed,currency 1,-1894,0,-769.0,-829.0,0.0,0,135000.0,-35.865,135035.865,0.0,Credit card,-615,NaN
1716378,182248,5057361,Active,currency 1,-895,0,203.0,NaN,NaN,0,180000.0,146502.000,0.000,0.0,Credit card,-49,NaN
1716379,250798,5057380,Active,currency 1,-471,0,31129.0,NaN,NaN,0,135000.0,6588.000,NaN,0.0,Credit card,-432,NaN
1716380,250798,5057384,Closed,currency 1,-471,0,-381.0,-381.0,0.0,0,0.0,0.000,0.000,0.0,Credit card,-381,NaN
1716382,236644,5057394,Closed,currency 1,-1048,0,-148.0,-148.0,0.0,0,45000.0,0.000,0.000,0.0,Credit card,-148,NaN
1716383,195589,5057399,Active,currency 1,-679,0,416.0,NaN,0.0,0,337500.0,0.000,337500.000,0.0,Credit card,-218,NaN
1716384,195589,5057408,Active,currency 1,-195,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-5,NaN
1716390,410531,5057465,Active,currency 1,-259,0,1087.0,NaN,NaN,0,675000.0,652567.500,0.000,0.0,Credit card,-11,NaN
1716395,181001,5057523,Active,currency 1,-112,0,1056.0,NaN,NaN,0,418500.0,0.000,0.000,0.0,Credit card,-39,NaN
1716399,232638,5057553,Active,currency 1,-613,0,721.0,NaN,NaN,0,972000.0,886297.500,0.000,0.0,Credit card,-42,NaN
1716408,146896,5057632,Closed,currency 1,-434,0,-344.0,-344.0,NaN,0,234000.0,0.000,NaN,0.0,Credit card,-336,NaN
1716409,146896,5057636,Closed,currency 1,-1705,0,-582.0,-582.0,0.0,0,0.0,0.000,0.000,0.0,Credit card,-582,NaN
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.0,0.000,0.000,0.0,Credit card,-46,NaN
1716417,433007,5057703,Active,currency 1,-740,0,31128.0,NaN,NaN,0,67500.0,2466.000,NaN,0.0,Credit card,-433,NaN
1716422,375755,5057742,Closed,currency 1,-2648,0,31129.0,-189.0,NaN,0,202500.0,0.000,NaN,0.0,Credit card,-109,NaN

In [22]:
buro[(buro['CREDIT_TYPE']=='Credit card') & (buro['AMT_CREDIT_SUM']>0) & (buro['AMT_CREDIT_SUM_DEBT']<0)]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
87,119939,5714568,Closed,currency 1,-1447,0,-331.0,-1272.0,0.000,0,99000.0,-2692.170,137692.170,0.0,Credit card,-1272,NaN
88,119939,5714569,Closed,currency 1,-1390,0,-331.0,-1263.0,0.000,0,135000.0,-149.040,135149.040,0.0,Credit card,-1263,NaN
89,119939,5714570,Active,currency 1,-1390,0,-696.0,NaN,0.000,0,4500.0,-2.565,2.565,0.0,Credit card,-691,NaN
125,293201,5714621,Closed,currency 1,-2389,0,-1365.0,-1780.0,11250.000,0,225000.0,-701.280,225701.280,0.0,Credit card,-1780,NaN
225,435368,5714751,Active,currency 1,-2915,0,-606.0,NaN,35.055,0,135000.0,-638.100,135638.100,0.0,Credit card,-694,NaN
236,228777,5714770,Closed,currency 1,-2264,0,-1153.0,-1479.0,21161.115,0,337500.0,-15.255,337515.255,0.0,Credit card,-1202,NaN
297,333498,5714844,Closed,currency 1,-2805,0,-241.0,-1224.0,0.000,0,180000.0,-455.805,180455.805,0.0,Credit card,-1224,NaN
300,333498,5714847,Active,currency 1,-1290,0,-210.0,NaN,0.000,0,135000.0,-45.000,135045.000,0.0,Credit card,-674,NaN
332,182982,5714891,Active,currency 1,-2314,0,-1215.0,NaN,10125.000,0,67500.0,-400.860,67900.860,0.0,Credit card,-671,NaN
645,251484,5715297,Active,currency 1,-1147,0,-493.0,NaN,0.000,0,4500.0,-27.630,4527.630,0.0,Credit card,-660,NaN
655,249072,5715311,Active,currency 1,-2415,0,-1344.0,NaN,13500.000,0,135000.0,-688.860,135688.860,0.0,Credit card,-651,NaN
656,249072,5715313,Active,currency 1,-1612,0,968.0,NaN,108.630,0,4500.0,-178.065,178.065,0.0,Credit card,-668,NaN
1338,394888,5716105,Closed,currency 1,-1806,0,-58.0,-578.0,2634.795,0,130500.0,-454.365,225454.365,0.0,Credit card,-578,NaN
1339,394888,5716106,Active,currency 1,-1492,0,1100.0,NaN,0.000,0,4500.0,-7071.930,7071.930,0.0,Credit card,-609,NaN
1356,174225,5716127,Active,currency 1,-2597,0,-300.0,NaN,3600.000,0,225000.0,-137.025,90137.025,0.0,Credit card,-618,NaN
1803,171087,5716685,Active,currency 1,-1593,0,1272.0,NaN,0.000,0,45000.0,-4355.280,274355.280,0.0,Credit card,-564,NaN
1804,171087,5716686,Active,currency 1,-1276,0,-554.0,NaN,0.000,0,4500.0,-93.285,93.285,0.0,Credit card,-608,NaN
1900,132005,5716809,Closed,currency 1,-1901,0,966.0,-744.0,0.000,0,54000.0,-89.325,247589.325,0.0,Credit card,-744,NaN
1901,132005,5716810,Closed,currency 1,-869,0,966.0,-756.0,0.000,0,135000.0,-15.750,135015.750,0.0,Credit card,-756,NaN
5231,439933,5720744,Closed,currency 1,-2475,0,-1442.0,-2292.0,0.000,0,112500.0,-46.035,112546.035,0.0,Credit card,-2292,NaN
5235,147873,5720750,Closed,currency 1,-1045,0,1023.0,-696.0,0.000,0,135000.0,-321.120,135321.120,0.0,Credit card,-496,NaN
5236,147873,5720751,Closed,currency 1,-1034,0,1023.0,-678.0,0.000,0,225000.0,-49.770,225049.770,0.0,Credit card,-678,NaN
5237,147873,5720752,Active,currency 1,-1034,0,962.0,NaN,0.000,0,4500.0,-238.365,238.365,0.0,Credit card,-639,NaN
5286,434613,5720816,Closed,currency 1,-1749,0,-1016.0,-1308.0,0.000,0,135000.0,-45.585,288045.585,0.0,Credit card,-1308,NaN
5655,232668,5721261,Closed,currency 1,-2615,0,-472.0,-696.0,0.000,0,67500.0,-3969.720,453969.720,0.0,Credit card,-696,NaN
7142,196124,5723072,Active,currency 1,-1056,0,758.0,NaN,16718.715,0,225000.0,-27.495,337527.495,0.0,Credit card,-594,NaN
7225,359203,5723175,Active,currency 1,-2477,0,-1465.0,NaN,18000.000,0,180000.0,-287.325,180287.325,0.0,Credit card,-590,NaN
7914,333053,5724039,Closed,currency 1,-1531,0,-421.0,-1022.0,485.280,0,135000.0,-14.625,135014.625,0.0,Credit card,-929,NaN
8019,303504,5724178,Active,currency 1,-2681,0,-1578.0,NaN,3600.000,0,180000.0,-38.295,90038.295,0.0,Credit card,-611,NaN
9220,352807,5725684,Active,currency 1,-764,0,1055.0,NaN,0.000,0,175500.0,-6.930,135006.930,0.0,Credit card,-625,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706872,296797,5007635,Closed,currency 1,-1019,0,796.0,-760.0,0.000,0,225000.0,-643.950,225643.950,0.0,Credit card,-760,NaN
1706919,101781,5013761,Active,currency 1,-1524,0,-899.0,NaN,0.000,0,4500.0,-8.775,8.775,0.0,Credit card,-641,NaN
1707225,218984,5014376,Closed,currency 1,-1509,0,-777.0,-1334.0,0.000,0,135000.0,-48.870,135048.870,0.0,Credit card,-1334,NaN
1707381,252159,5028182,Closed,currency 1,-1236,0,-142.0,-971.0,6829.155,0,135000.0,-45.495,67545.495,0.0,Credit card,-971,NaN
1707672,216137,5037679,Active,currency 1,-945,0,795.0,NaN,0.000,0,4500.0,-469.035,4969.035,0.0,Credit card,-671,NaN
1708814,196372,5030896,Closed,currency 1,-1437,0,-341.0,-594.0,0.000,0,135000.0,-362.115,135362.115,0.0,Credit card,-575,NaN
1709052,392667,5031260,Closed,currency 1,-2552,0,-1819.0,-2045.0,224.640,0,225000.0,-6.300,180006.300,0.0,Credit card,-2045,NaN
1709349,166555,5041013,Closed,currency 1,-881,0,958.0,-704.0,0.000,0,135000.0,-357.390,135357.390,0.0,Credit card,-704,NaN
1709913,333950,5047856,Closed,currency 1,-1224,0,-128.0,-1075.0,0.000,0,337500.0,-53.595,337553.595,0.0,Credit card,-1075,NaN
1710374,185742,5059621,Active,currency 1,-2710,0,-552.0,NaN,18000.000,0,225000.0,-162.360,225162.360,0.0,Credit card,-640,NaN
1710604,180746,5074466,Active,currency 1,-1594,0,-890.0,NaN,0.000,0,4500.0,-238.860,238.860,0.0,Credit card,-650,NaN
1710692,262643,5088433,Active,currency 1,-1033,0,779.0,NaN,0.000,0,4500.0,-46.395,4546.395,0.0,Credit card,-668,0.0
1710705,392862,5088528,Active,currency 1,-2728,0,-1627.0,NaN,2700.000,0,67500.0,-14.265,14.265,0.0,Credit card,-658,0.0
1711133,417115,5101511,Active,currency 1,-2401,0,-1545.0,NaN,4500.000,0,45000.0,-134.640,45134.640,0.0,Credit card,-666,NaN
1711296,218337,5082178,Active,currency 1,-657,0,1177.0,NaN,0.000,0,135000.0,-450.000,135450.000,0.0,Credit card,-615,NaN
1711297,218337,5082179,Active,currency 1,-657,0,1177.0,NaN,0.000,0,135000.0,-450.000,135450.000,0.0,Credit card,-439,NaN
1711637,246770,5082793,Active,currency 1,-863,0,977.0,NaN,0.000,0,900000.0,-282.060,1134282.060,0.0,Credit card,-486,NaN
1712331,110349,5077329,Active,currency 1,-744,0,1073.0,NaN,0.000,0,135000.0,-450.000,135450.000,0.0,Credit card,-642,NaN
1712449,342002,5097113,Active,currency 1,-2657,0,1243.0,NaN,0.000,0,225000.0,-1398.645,248898.645,0.0,Credit card,-568,NaN
1712642,110349,5077330,Active,currency 1,-744,0,1073.0,NaN,0.000,0,135000.0,-450.000,135450.000,0.0,Credit card,-643,NaN
1712896,234282,5101859,Closed,currency 1,-1511,0,-776.0,-1248.0,0.000,0,135000.0,-90.585,117090.585,0.0,Credit card,-1248,NaN
1713425,391845,5071245,Active,currency 1,-1467,0,1032.0,NaN,12029.760,0,135000.0,-20.160,247520.160,0.0,Credit card,-557,NaN
1713630,329121,5098667,Closed,currency 1,-2789,0,-1674.0,-1724.0,3600.000,0,135000.0,-53.280,53.280,0.0,Credit card,-1724,NaN
1713695,112438,5103559,Closed,currency 1,-1531,0,-417.0,-1354.0,0.000,0,135000.0,-35.730,135035.730,0.0,Credit card,-1354,NaN
1713917,166399,5086372,Closed,currency 1,-1304,0,-207.0,-821.0,12289.275,0,135000.0,-338.175,247838.175,0.0,Credit card,-821,NaN
1713918,166399,5086378,Closed,currency 1,-882,0,919.0,-605.0,8753.850,0,225000.0,-80.820,225080.820,0.0,Credit card,-605,NaN
1715101,292494,5087696,Closed,currency 1,-2674,0,-1564.0,-1670.0,18900.000,0,225000.0,-36.180,22536.180,0.0,Credit card,-535,0.0
1715271,228547,5044511,Active,currency 1,-1663,0,1211.0,NaN,4720.500,0,135000.0,-1066.275,136066.275,0.0,Credit card,-640,67500.0
1715929,214607,5056789,Closed,currency 1,-1491,0,-374.0,-643.0,0.000,0,135000.0,-35.055,135035.055,0.0,Credit card,-643,NaN
1716375,245087,5057327,Closed,currency 1,-1894,0,-769.0,-829.0,0.000,0,135000.0,-35.865,135035.865,0.0,Credit card,-615,NaN

In [26]:
buro[buro['CREDIT_ACTIVE']=='Active'].sort_values(by='SK_ID_BUREAU', ascending=False)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1705295,134450,6843455,Active,currency 1,-301,0,1534.0,NaN,NaN,0,67500.000,19071.000,NaN,0.0,Credit card,-23,NaN
1705293,134450,6843453,Active,currency 1,-2385,0,-1645.0,NaN,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-1652,NaN
1705292,134450,6843452,Active,currency 1,-583,0,958.0,NaN,NaN,0,112500.000,106726.500,0.00,0.0,Credit card,-120,NaN
1705288,387585,6843446,Active,currency 1,-268,0,97.0,NaN,NaN,0,305660.385,107808.885,NaN,0.0,Consumer credit,-6,NaN
1705286,387585,6843444,Active,currency 1,-295,0,30969.0,NaN,NaN,0,270000.000,0.000,270000.00,0.0,Credit card,-6,NaN
1705285,101681,6843443,Active,currency 1,-634,0,96.0,NaN,0.000,0,121099.500,21883.500,0.00,0.0,Consumer credit,-22,NaN
1705284,101681,6843442,Active,currency 1,-530,0,19.0,NaN,0.000,0,114210.000,7708.500,0.00,0.0,Consumer credit,-13,NaN
1705283,101681,6843441,Active,currency 1,-722,0,27318.0,NaN,NaN,0,275625.000,196641.000,NaN,0.0,Credit card,-6,NaN
1705271,224416,6843427,Active,currency 1,-100,0,631.0,NaN,NaN,0,450000.000,NaN,NaN,0.0,Consumer credit,-8,NaN
1705266,387354,6843422,Active,currency 1,-139,0,226.0,NaN,NaN,0,61280.820,43914.555,NaN,0.0,Consumer credit,-2,NaN
1705264,199054,6843420,Active,currency 1,-171,0,194.0,NaN,9337.995,0,119654.505,74524.500,0.00,0.0,Consumer credit,-13,NaN
1705262,199054,6843418,Active,currency 1,-1325,0,2358.0,NaN,NaN,0,4826250.000,NaN,NaN,0.0,Mortgage,-15,NaN
1705261,199054,6843417,Active,currency 1,-97,0,166.0,NaN,NaN,0,180000.000,179595.000,0.00,0.0,Credit card,-93,NaN
1705254,144121,6843410,Active,currency 1,-1087,0,NaN,NaN,NaN,0,135000.000,79740.000,NaN,0.0,Credit card,-9,NaN
1705252,414695,6843408,Active,currency 1,-91,0,1687.0,NaN,NaN,0,900000.000,834831.000,NaN,0.0,Credit card,-23,NaN
1705249,314393,6843405,Active,currency 1,-223,0,1019.0,NaN,NaN,0,67500.000,0.000,0.00,0.0,Credit card,-57,NaN
1705246,371832,6843402,Active,currency 1,-535,0,195.0,NaN,NaN,0,201573.000,62460.000,NaN,0.0,Consumer credit,-13,NaN
1705245,371832,6843401,Active,currency 1,-707,0,30969.0,NaN,NaN,0,324000.000,286821.000,NaN,0.0,Credit card,-10,NaN
1705244,371832,6843400,Active,currency 1,-463,0,30969.0,NaN,NaN,0,225000.000,0.000,NaN,0.0,Credit card,-13,NaN
1705243,371832,6843399,Active,currency 1,-126,0,419.0,NaN,NaN,0,675000.000,NaN,NaN,0.0,Consumer credit,-9,NaN
1705239,309500,6843395,Active,currency 1,-1054,0,1502.0,NaN,0.000,0,509404.500,367596.000,0.00,0.0,Consumer credit,-18,NaN
1705238,309500,6843394,Active,currency 1,-508,0,588.0,NaN,0.000,0,140040.000,130378.500,9665.01,0.0,Credit card,-18,NaN
1705235,309500,6843391,Active,currency 1,-390,0,1436.0,NaN,NaN,0,637650.000,558315.000,0.00,0.0,Consumer credit,-21,NaN
1705234,309500,6843390,Active,currency 1,-621,0,-591.0,NaN,NaN,0,225000.000,215199.000,0.00,0.0,Credit card,-114,NaN
1705220,179064,6843375,Active,currency 1,-317,0,654.0,NaN,NaN,0,180000.000,0.000,0.00,0.0,Credit card,-43,NaN
1705215,450697,6843370,Active,currency 1,-2400,0,NaN,NaN,0.000,0,13500.000,0.000,13500.00,0.0,Credit card,-990,NaN
1705213,450697,6843368,Active,currency 1,-110,0,NaN,NaN,NaN,0,900000.000,860733.000,NaN,0.0,Consumer credit,-16,NaN
1705203,287390,6843357,Active,currency 1,-770,0,NaN,NaN,NaN,0,202500.000,181867.500,NaN,0.0,Credit card,-10,NaN
1705202,287390,6843356,Active,currency 1,-1246,0,30969.0,NaN,NaN,0,126000.000,122580.000,NaN,0.0,Credit card,-13,NaN
1705199,287390,6843353,Active,currency 1,-379,0,1447.0,NaN,NaN,0,735750.000,644701.500,0.00,0.0,Consumer credit,-11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706047,333844,5000098,Active,currency 1,-279,0,3374.0,NaN,NaN,0,450000.000,328122.000,NaN,0.0,Credit card,-27,NaN
61584,333844,5000096,Active,currency 1,-1685,0,531.0,NaN,NaN,0,423000.000,323023.500,0.00,0.0,Credit card,-14,NaN
61583,333844,5000095,Active,currency 1,-219,0,1608.0,NaN,NaN,0,2447766.000,2286823.500,NaN,0.0,Consumer credit,-1,NaN
61582,170721,5000094,Active,currency 1,-137,0,NaN,NaN,0.000,0,4500.000,0.000,4500.00,0.0,Credit card,-10,NaN
61577,170721,5000089,Active,currency 1,-125,0,804.0,NaN,NaN,0,67500.000,65515.500,0.00,0.0,Credit card,-14,NaN
61575,425299,5000087,Active,currency 1,-372,0,726.0,NaN,0.000,0,2318454.000,1775515.500,NaN,0.0,Consumer credit,-37,NaN
61573,425299,5000084,Active,currency 1,-1490,0,336.0,NaN,0.000,0,1350000.000,NaN,NaN,0.0,Consumer credit,-364,NaN
61571,425299,5000082,Active,currency 1,-2282,0,31060.0,NaN,NaN,0,424350.000,310468.500,NaN,0.0,Credit card,-13,NaN
61567,425299,5000077,Active,currency 1,-1276,0,1079.0,NaN,NaN,0,0.000,0.000,0.00,0.0,Credit card,-23,NaN
61566,425299,5000076,Active,currency 1,-2417,0,31060.0,NaN,NaN,0,424350.000,302116.410,122233.59,0.0,Credit card,-1,NaN
61564,106431,5000074,Active,currency 1,-289,0,807.0,NaN,NaN,0,1125000.000,NaN,NaN,0.0,Consumer credit,-39,NaN
61563,106431,5000073,Active,currency 1,-477,0,NaN,NaN,NaN,0,90000.000,NaN,NaN,0.0,Credit card,-46,NaN
61559,106431,5000068,Active,currency 1,-460,0,1364.0,NaN,NaN,0,1260000.000,1046745.000,0.00,0.0,Consumer credit,-35,NaN
61557,106431,5000066,Active,currency 1,-1469,0,745.0,NaN,NaN,0,225000.000,0.000,0.00,0.0,Credit card,-35,NaN
61552,383363,5000060,Active,currency 1,-111,0,602.0,NaN,0.000,0,149904.000,128309.490,0.00,0.0,Consumer credit,-4,NaN
61551,383363,5000059,Active,currency 1,-545,0,27409.0,NaN,0.000,1,551250.000,0.000,0.00,0.0,Credit card,-292,NaN
61538,298636,5000045,Active,currency 1,-371,0,NaN,NaN,NaN,0,9000000.000,8813623.500,NaN,0.0,Mortgage,-83,NaN
61536,298636,5000043,Active,currency 1,-2438,0,-2072.0,NaN,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-2072,NaN
61530,156480,5000034,Active,currency 1,-1395,0,430.0,NaN,NaN,0,675000.000,168457.500,NaN,0.0,Consumer credit,-28,NaN
61529,156480,5000033,Active,currency 1,-1299,0,896.0,NaN,NaN,0,55125.000,0.000,NaN,0.0,Credit card,-205,NaN
1706040,156789,5000030,Active,currency 1,-371,0,3281.0,NaN,NaN,0,450000.000,0.000,NaN,0.0,Credit card,-371,NaN
61525,156789,5000028,Active,currency 1,-1423,0,-51.0,NaN,NaN,0,472500.000,343206.000,0.00,0.0,Credit card,-27,NaN
61522,156789,5000025,Active,currency 1,-401,0,1383.0,NaN,NaN,0,4500.000,0.000,4500.00,0.0,Credit card,-2,NaN
61517,408140,5000019,Active,currency 1,-246,0,926.0,NaN,NaN,0,135000.000,0.000,0.00,0.0,Credit card,-23,NaN
1706038,101767,5000016,Active,currency 1,-339,0,391.0,NaN,NaN,0,490243.500,0.000,NaN,0.0,Consumer credit,-5,NaN
61513,101767,5000013,Active,currency 1,-256,0,1079.0,NaN,NaN,0,135000.000,0.000,0.00,0.0,Credit card,-39,NaN
61512,375916,5000012,Active,currency 1,-537,0,559.0,NaN,NaN,0,573979.500,0.000,NaN,0.0,Consumer credit,-5,NaN
61511,375916,5000011,Active,currency 1,-20,0,10.0,NaN,NaN,0,27000.000,29025.000,NaN,0.0,Microloan,-15,NaN
61508,356385,5000005,Active,currency 1,-459,0,148.0,NaN,NaN,0,270000.000,84505.500,0.00,0.0,Consumer credit,-32,NaN
61507,166497,5000004,Active,currency 1,-47,0,320.0,NaN,0.000,0,315127.620,315127.620,0.00,0.0,Consumer credit,-17,NaN

In [36]:
buro[(buro['SK_ID_CURR']==166539) & (buro['CREDIT_ACTIVE']=='Active')]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
775087,166539,5429772,Active,currency 1,-52,0,1796.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-19,NaN
775088,166539,5429773,Active,currency 1,-52,0,1796.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-19,NaN
775089,166539,5429774,Active,currency 1,-52,0,1796.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-19,NaN
775090,166539,5429775,Active,currency 1,-52,0,1796.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-19,NaN
775091,166539,5429777,Active,currency 1,-52,0,1796.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-19,NaN
775092,166539,5429778,Active,currency 1,-52,0,1796.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-19,NaN
775093,166539,5429779,Active,currency 1,-52,0,1796.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-19,NaN
1307928,166539,5429776,Active,currency 1,-627,0,1186.0,NaN,NaN,0,0.0,0.0,0.0,0.0,Credit card,-13,NaN

In [7]:
buro[(buro['SK_ID_CURR']==120860) & (buro['DAYS_CREDIT']==-139)]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
880894,120860,6800829,Closed,currency 1,-139,0,NaN,-76.0,NaN,0,36000.0,0.0,NaN,0.0,Microloan,-76,0.0
880903,120860,6800840,Closed,currency 1,-139,0,-120.0,-120.0,NaN,0,45000.0,0.0,NaN,0.0,Microloan,0,0.0